/*重置*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body,
div,
p,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
button,
textarea,
iframe,
table,
th,
td {
    margin: 0;
    padding: 0
}
label{
	display: inline;
	font-weight: 400;
	margin-bottom: 0;
}
img {
    border: 0 none;
    vertical-align: top
}

ul,
li {
    list-style-type: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px
}
body,
input,
select,
button,
textarea {
    font-size: 12px;
    font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Geneva, sans-serif
}

button {
    cursor: pointer
}

i,
em,
cite {
    font-style: normal
}

a,
a:link {
    text-decoration: none
}

a:active,
a:hover {
    text-decoration: none
}

a:focus {
    outline: none
}

ul ,ol{
	list-style: none;
}
body {
	background: #fff;
	font-size: 62.5%;
	font-family: "微软雅黑";
	min-width: 1366px;
}
a {
	text-decoration: none;
	color: #FF6666;
	cursor: pointer;
}
img{
	border: none;
}
.ban_c {
	width: 86%;
	margin: 0 auto;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	*zoom: 1;
}
.ban_c-100{
	padding: 0 100px;
}
