<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>大嫁网</title>
		<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
		<link rel="shortcut icon" type="image/x-icon" href="logo.ico" />
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/index/index.css" />
	</head>

	<body>
		<!--返回顶部-->
		<div id="return"><img src="img/TOP.png"/></div>
		<!--header(头部)-->
		<header id="header">
			<div class="ban_c clearfix">
				<div class="log fl">
					<a href="#"><img src="img/logo.png" alt="logo" /></a>
				</div>
				<div class="nav fl">
					<ul>
						<li>
							<a href="#">婚礼贴士</a>
						</li>
						<li>
							<a href="#">优惠活动</a>
						</li>
						<li>
							<a href="#">良辰吉日</a>
						</li>
						<li>
							<a href="#">查找门店</a>
						</li>
						<li>
							<a href="#">加入我们</a>
						</li>
					</ul>
				</div>
				<div class="search fl">
					<div class="search-nav clearfix">
						<ul>
							<li>
								<a id="mobile" href="#">手机应用</a>
								<img src="img/ewm.png" alt="二维码" />
							</li>
							<li>
								<a id="zhidxcom" href="#">大嫁公众号</a>
								<img src="img/ewm.png" alt="二维码" />
							</li>
							<li>
								<a href="#">登录</a>
							</li>
							<li>
								<a href="#">注册</a>
							</li>
						</ul>
					</div>
					<div class="search-bar">
						<input placeholder="请输入要搜索的内容" class="fl" type="text" />
						<a class="search-bar-fangdajing" href="#"><img src="img/fangdajin.png" alt="放大镜" /></a>
					</div>
				</div>
			</div>
		</header>
		<!--/header-->

		<!--banner(横幅)-->
		<section id="banner">
			<div class="ban_c clearfix">
				<div id="slideBox" class="slideBox">
					<div class="hd">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="bd">
						<ul>
							<li>
								<a href="#" target="_blank"><img src="img/banner.png" alt="banenr" /></a>
							</li>
							<li>
								<a href="#" target="_blank"><img src="img/banner.png" alt="banenr" /></a>
							</li>
							<li>
								<a href="#" target="_blank"><img src="img/banner.png" alt="banenr" /></a>
							</li>
						</ul>
					</div>
					<!--小按钮-->
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>
			</div>

		</section>
		<!--/banner-->

		<!--procedure(步骤)-->
		<section id="procedure">
			<div class="ban_c clearfix">
				<div class="content">
					<h2>婚礼步骤</h2>
					<h3>轻松获得属于您的完美婚礼</h3>
					<ul class="procedure-content-ul1 clearfix">
						<li>
							<a href="#">
								<img src="img/jiudian.png" alt="" />
								<p class="procedure-p1">Wodding Hotel</p>
								<img src="img/duanhengxina.png" />
								<p class="procedure-p2">婚宴酒店</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/sheying.png" alt="" />
								<p class="procedure-p1">Photography</p>
								<img src="img/duanhengxina.png" />
								<p class="procedure-p2">婚纱摄影</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hunsha.png" alt="" />
								<p class="procedure-p1">Wedding dress</p>
								<img src="img/duanhengxina.png" />
								<p class="procedure-p2">婚纱礼服</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/jingang.png" alt="" />
								<p class="procedure-p1">Service personal</p>
								<img src="img/duanhengxina.png" />
								<p class="procedure-p2">四大金刚</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hunqing.png" alt="" />
								<p class="procedure-p1">Wodding Company</p>
								<img src="img/duanhengxina.png"/>
								<p class="procedure-p2">婚庆公司</p>
							</a>
						</li>
					</ul>
					<ul class="procedure-content-ul2 clearfix">
						<li>
							<a href="#">
								<img src="img/tiandian.png" alt="" />
								<p class="procedure-p1">Wodding dessert</p>
								<img src="img/duanhengxina.png"/>
								<p class="procedure-p2">婚礼甜点</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hunche.png" alt="" />
								<p class="procedure-p1">Wodding car</p>
								<img src="img/duanhengxina.png"/>
								<p class="procedure-p2">婚车预定</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/haiwai.png" alt="" />
								<p class="procedure-p1">Overseas Wodding</p>
								<img src="img/duanhengxina.png" />
								<p class="procedure-p2">海外婚礼</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/miyue.png" alt="" />
								<p class="procedure-p1">Honeymoon trip</p>
								<img src="img/duanhengxina.png"/>
								<p class="procedure-p2">蜜月出行</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/kefu.png" alt="" />
								<p class="procedure-p1">Online assistant</p>
								<img src="img/duanhengxina.png"/>
								<p class="procedure-p2">在线助手</p>
							</a>
						</li>
					</ul>
					<ul class="hideNav">
						<li>
							<a class="showNav-procedure-a1" href="#"><p class="procedure-p2">婚宴酒店</p></a>
							<img src="img/duanhengxina.png"/>
							<a href="#" class="showNav-procedure-a2"><p class="procedure-p2 ">婚宴酒店</p></a>	
						</li>
						<li>
							<a class="showNav-procedure-a1" href="#"><p class="procedure-p2">婚宴酒店</p></a>
							<img src="img/duanhengxina.png"/>
							<a href="#"><p class="procedure-p2 showNav-procedure-p2">婚宴酒店</p></a>
						</li>
						<li>
							<a class="showNav-procedure-a1" href="#"><p class="procedure-p2">婚宴酒店</p></a>
							<img src="img/duanhengxina.png"/>
							<a href="#"><p class="procedure-p2 showNav-procedure-p2">婚宴酒店</p></a>
						</li>
						<li>
							<a class="showNav-procedure-a1" href="#"><p class="procedure-p2">婚宴酒店</p></a>
							<img src="img/duanhengxina.png"/>
							<a href="#"><p class="procedure-p2 showNav-procedure-p2">婚宴酒店</p></a>
						</li>
						<li>
							<a class="showNav-procedure-a1"  href="#"><p class="procedure-p2">婚宴酒店</p></a>
							<img src="img/duanhengxina.png"/>
							<a href="#" class="showNav-procedure-a2"><p class="procedure-p2 showNav-procedure-p2">婚宴酒店</p></a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!--/procedure-->

		<!--main-content(酒店)-->
		<section id="container">
			<div class="ban_c">
				<div class="main-content-top clearfix">
					<div class="main-content-top-left fl">
						<h3>婚宴酒店</h3>
						<span>Wedding Hotel</span>
					</div>
					<div class="main-content-top-right fr">
						<a href="#"><img src="img/more.png" alt="" /></a>
					</div>
				</div>
				<div class="main-content-bottom clearfix">
					<div class="main-content-bottom-top">
						<ul>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
									<p>婚宴酒店</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
									<p>婚宴酒店</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
									<p>婚宴酒店</p>
								</a>
							</li>
						</ul>
					</div>
					<div class="main-content-bottom-bottom">
						<ul>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/datu.png" alt="大图" />
									<p>杭州金溪山庄</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</section>
		<!--/main-content-->

		

		<!--footer(底部)-->
		<footer id="footer">
			<div class="footer-top clearfix">
				<div class="footer-top-right fr">
					<img src="img/ewm.png" alt="二维码" />
					<p>大嫁公众号</p>
				</div>
				<div class="footer-top-left fr">
					<img src="img/ewm.png" alt="二维码" />
					<p>下载APP</p>
					<p>领奖励 邀好友 了解更多！</p>
				</div>
			</div>
			<div class="footer-bottom">
				<p class="footer-bottom-p1">浙公网安备 33010602006275号</p>
				<p class="footer-bottom-p2">copyright@2..2-2015 大嫁网婚礼会所 户ICO备0604456720 沪ICP证 备-20130044 上海市公安局宝山分局 备案编号 31456789</p>
				<img src="img/pinggu.png" alt="" />
			</div>
		</footer>
		<!--/footer-->
		
		<script src="lib/jQuery/jquery1.42.min.js"></script>
		<script src="lib/Template/template-native.js"></script>
		<script type="text/template" id="template">
			<% for(var i = 0 ;i < 7;i++) { %>
			<section id=<%=items[i]%>>
				<div class="ban_c">
					<div class="main-content-top clearfix">
						<div class="main-content-top-left fl">
							<h3><%=title[i]%></h3>
							<span><%=items[i] %></span>
						</div>
						<div class="main-content-top-right fr">
							<a href="#"><img src="img/more.png" alt="" /></a>
						</div>
					</div>
					<div class="main-content-bottom clearfix">
						<div class="main-content-bottom-top">
							<ul>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
										<p><%=describe2 %></p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
										<p><%=describe2 %></p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
										<p><%=describe2 %></p>
									</a>
								</li>
							</ul>
						</div>
						<div class="main-content-bottom-bottom">
							<ul>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/datu.png" alt="大图" />
										<p><%=describe1 %></p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<% } %>
		</script>
		<script type="text/javascript">
			var data={
				title : ["婚宴酒店","婚纱摄影","婚纱礼服","四大金刚","婚庆公司","婚礼甜点","婚车预定"],
				describe1 :'杭州金溪山庄',
				describe2 :'婚宴酒店',
				items : ["Wedding-Hotel","Photography","Wedding-Dress","Service-Personal","Wedding-Company","Wedding-Dessert","Wedding-Car"]
			};
			var mainContentHtml = template("template",data);
			$('#container').html(mainContentHtml);
		</script>
		
		<script src="lib/jQuery/jquery.SuperSlide.2.1.1.js"></script>
		<script src="js/index.js"></script>
	</body>

</html>