<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="../logo.ico" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" type="text/less" href="../css/index/joinUs.less" />
		<title>加入我们</title>
	</head>

	<body>
		<div class="logo">
			<a href="../index.html"><img src="../img/logo.png" alt="" /></a>
		</div>
		<div class="container">
			<h1>加入我们</h1>
			<form action="" method="post">
				<table border="0" cellspacing="30" cellpadding="0">
					<tr>
						<td><label for="name">姓名</label></td>
						<td><input type="text" name="name" id="name" /></td>
					</tr>
					<tr>
						<td><label for="tel">电话</label></td>
						<td><input type="text" name="tel" id="tel" /></td>
					</tr>
					<tr>
						<td><label for="company">公司</label></td>
						<td><input type="text" name="company" id="company" /></td>
					</tr>
					<tr>
						<td><label for="type">类型</label></td>
						<td><input type="text" name="type" id="type" /></td>
					</tr>
					<tr>
						<td><label for="address">地址</label></td>
						<td><input type="text" name="address" id="address" /></td>
					</tr>
				</table>
				<p><input type="submit" value="提交" /></p>
			</form>
		</div>

		<script src="../lib/less/less.min.js"></script>
	</body>

</html>