<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<title>大嫁网</title>
		<link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css" />
		<link rel="shortcut icon" type="image/x-icon" href="../logo.ico" />
		<link rel="stylesheet" href="../css/hover-min.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/less" href="../css/index/WeddingTips.less" />
	</head>

	<body>
		<!--header(头部)-->
		<header id="header">
				<div class="ban_c clearfix">
					
					<div class="header-left fl">	
						<a class="logo" href="../index.html"><img src="../img/logo.png" /></a>
					</div>
					
					<div class="header-middle fl">
						<ul>
							<li class="active">
								<a href="WeddingTips.html">婚礼贴士</a>
							</li>
							<li>
								<a href="SpecialOffers.html">优惠活动</a>
							</li>
							<li>
								<a href="#">良辰吉日</a>
							</li>
							<li>
								<a href="#">查找门店</a>
							</li>
							<li>
								<a href="joinUs.html">加入我们</a>
							</li>
						</ul>
						
					</div>
					<div class="header-right  fr">
						<ul >
							<li>
								<a href="#">手机应用<img src="img/ewm.png" alt="二维码" /></a>
							</li>
							<li>
								<a href="#">大嫁公众号<img src="img/ewm.png" alt="二维码" /></a>
							</li>
						</ul>
		
						<div class="search-bar">
							<input placeholder="请输入要搜索的内容" class="fl" type="text" />
							<a class="search-bar-fangdajing" href="#"><img src="img/fangdajin.png" alt="放大镜" /></a>
						</div>
					</div>
				</div>
		
		</header>
		<!--/header(头部)-->

		<section id="WeddingTips-main">

			<script type="text/template" id="tips">
				<div class="WeddingTips-main-content">
					<h2>婚宴上，最受欢迎的婚宴婚礼饮料是什么</h2>
					<p>
						遇到爱你的，趁早结婚吧，真的现在找一个爱你的人很难了， 至于怕结婚我想这个答案可以回答你这就是人们常说的“婚前恐惧症”， 很多人都会或多或少有一些忧郁感。主要来自对未来生活地担忧。害怕今后感情出现问题、 爱人逐渐疏远自己、发现恋爱时未发现的秘密、自己能否和爱人家人和睦相处等等问题。 最主要的原因就是对未来生活不确定性的恐惧。认识到这一点就可以有针对性地进行自我心理调节， 如：想想爱人以前是如何关心爱护你的，增强对爱人的信心；和家人谈谈，发现对方更多的优点，接受家人的祝福， 憧憬未来美好的新生活。我想你一定会顺利跨出这幸福的一步！
					</p>
					<div class="tips-img1"><img src="../img/xqpic1.png" /></div>
					<p>
						遇到爱你的，趁早结婚吧，真的现在找一个爱你的人很难了， 至于怕结婚我想这个答案可以回答你这就是人们常说的“婚前恐惧症”， 很多人都会或多或少有一些忧郁感。主要来自对未来生活地担忧。害怕今后感情出现问题、 爱人逐渐疏远自己、发现恋爱时未发现的秘密、自己能否和爱人家人和睦相处等等问题。 最主要的原因就是对未来生活不确定性的恐惧。认识到这一点就可以有针对性地进行自我心理调节， 如：想想爱人以前是如何关心爱护你的，增强对爱人的信心；和家人谈谈，发现对方更多的优点，接受家人的祝福， 憧憬未来美好的新生活。我想你一定会顺利跨出这幸福的一步！
					</p>
					<div class="tips-img2"><img src="../img/xqpic2.png" /></div>
					<p>
						遇到爱你的，趁早结婚吧，真的现在找一个爱你的人很难了， 至于怕结婚我想这个答案可以回答你这就是人们常说的“婚前恐惧症”， 很多人都会或多或少有一些忧郁感。主要来自对未来生活地担忧。害怕今后感情出现问题、 爱人逐渐疏远自己、发现恋爱时未发现的秘密、自己能否和爱人家人和睦相处等等问题。 最主要的原因就是对未来生活不确定性的恐惧。认识到这一点就可以有针对性地进行自我心理调节， 如：想想爱人以前是如何关心爱护你的，增强对爱人的信心；和家人谈谈，发现对方更多的优点，接受家人的祝福， 憧憬未来美好的新生活。我想你一定会顺利跨出这幸福的一步！
					</p>
				</div>

			</script>
		</section>

		<!--footer(底部)-->
		<footer id="footer">
			<div class="footer-top clearfix">
				<div class="ban_c">
					<div class="footer-title fl"><img src="../img/zt.png" /></div>
					<div class="footer-top-right fr">
						<img src="../img/ewm.png" alt="二维码" />
						<p>大嫁公众号</p>
					</div>
					<div class="footer-top-left fr">
						<img src="../img/ewm.png" alt="二维码" />
						<p>下载APP</p>
						<p>领奖励 邀好友 了解更多！</p>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<p class="footer-bottom-p1">浙公网安备 33010602006275号</p>
				<p class="footer-bottom-p2">copyright@2..2-2015 大嫁网婚礼会所 户ICO备0604456720 沪ICP证 备-20130044 上海市公安局宝山分局 备案编号 31456789</p>
				<img src="../img/pinggu.png" alt="" />
			</div>
		</footer>
		<!--/footer-->

		<script src="../lib/less/less.min.js"></script>
		<script src="../lib/jQuery/jquery-3.2.1.min.js"></script>
		<script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<script src="../lib/Template/template-native.js"></script>
		<script src="../js/tool.js"></script>
		<script type="text/javascript">
			$(function() {
				$.ajax({
					type: "post",
					url: "http://120.55.70.81:8088/dajiaserver/Rest/shop/weddingTips",
					async: true,
					success: function(data) {
						var WeddingTipsHtml = template("tips", data);
						$('#WeddingTips-main').html(WeddingTipsHtml);
					}
				});
			});
		</script>
	</body>

</html>